.korova {
    width: 100%;
    height: 100vh;
    background: #21211e;
    position: relative;
}
.moloko{
    height: 50px;
    width: 100%;
    background: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.syr{
    width: 50px;
    height: 30px;
    background: #10a924;
    margin-left: 30px;
}

.smetana{
    width: 250px;
    height: 30px;
    background: cornflowerblue;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.obraz{
    width: 100px;
    height: 20px;
    background: indigo;
}
.syrvatka{
    width: 100%;
    height: 500px;
    background: #f7fc61;
}
.jogurt{
    width: 100%;
    height: 350px;
    background: #c94040;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.bacterija{
    width: 200px;
    height: 200px;
    background: cyan;
    position: relative;
    top: -165px;
}

